* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(240, 242, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.wrapper {
    background: rgb(220, 225, 230);
    width: 420px;
    padding: 50px 25px;
    border-radius: 20px;
    box-shadow: 0px 6px 15px rgb(0,0,0,0.2);
}

img {
    max-width: 82px;
    margin: 0 auto 45px auto;
    display: block;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2));
}

.cabecalho {
    text-align: center;
    margin-bottom: 20px;
}

.titulo {
    font-size: 32px;
    color: rgb(40, 40, 40)
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.campo {
    display:flex;
    flex-direction: column;
}

.campo label {
    margin-bottom: 5px;
    font-weight: bold;
}

.campo input {
    height: 40px;
    padding: 8px;
    border: 1px solid rgb(180,180,180);
    border-radius: 8px;
    font-size: 15px;
    transition: border-color 0.3s ease-in-out;
}

.campo input:focus {
    border-color: rgb(50, 130, 200);
    outline: none;
    box-shadow: 0px 0px 8px rgba(50, 130, 200, 0.6);
}

button {
    height: 45px;
    border: none;
    border-radius: 7px;
    font-size: 15.5px;
    background-color: rgb(50, 130, 200);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.8s ease;
}

button:hover {
    background: rgb(50, 180, 90);
}

.painelResultado {
    margin-top: 30px;
    background: rgb(240, 242, 245);
    padding: 20px;
    border-radius: 6px;
    border-left: 5px solid rgb(50,130,200);
    font-style: italic;
}

